body {
    --transition-delay: 1s;

    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    transition: var(--transition-delay);
    height: 100vh;
}

a, #grid-icon {
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: rgb(66, 65, 65);
    font-size: 13px;
}

a:hover, #grid-icon:hover {
    text-decoration: underline;
}

.search-bar:focus,
.button-container button:focus,
a:focus {
    outline: none;
}

header {
    padding: 10px 10px 10px 0px;
}

.header-left {
    display: inline-block;
    word-spacing: 10pt;
    padding-left: 10px;
}

.header-right {
    word-spacing: 10pt;
    float: right;
}

.header-right button {
    background-color: #236df5;
    line-height: 27px;
    border: 1px;
    border-style: solid;
    border-color: transparent;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 10pt;
    width: 70px;
}

footer {
    position: absolute;
    display: block;
    border: solid;
    border-width: thin;
    border-color: #bdb7b7;
    bottom: 0;
    font-size: 13px;
    line-height: 40px;
    margin-left: -10px;
    width: 100vw;
    background: #f2f2f2;      
}

.footer-left {
    display: inline-block;
    word-spacing: 10pt;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
}

.footer-right {
    float: right;
    left: 10%;
    word-spacing: 10pt;
    padding-top: 10px;
    padding-right: 10px;
}

#how-search {
    word-spacing: 1pt;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    min-width: 100vh;
}

.logo {
    display: inline-block;
    padding-bottom: 20px;
}

.search-container {
    position: relative;
    display: inline-block;
    /* padding-top: 10px; */
    border: 1px solid #dfe1e5;
    border-radius: 20pt;
    border-width: 1pt;
    padding-top: 6px;
    height: 44px;
    width: 480px;
}

.search-container:hover {
    border-color: #9AA0A6;
}

#search-icon {
    padding-top: 10px;
    padding-left: 10pt;
    height: 15pt;
    background-color: transparent;
    color: #c4c4c5;
}

.search-bar {
    width: 440px;
    height: 40px;
    border-style: none;
    font-size: 13pt;
    background-color: transparent;
    /* position: absolute;
    width: 50vw;
    height: 100%; */
}

.button-container {
    padding-top: 30px;
    word-spacing: 20px;
}

.button-container button {
    cursor: pointer;
    color: #5F6368;
    background-color: #f2f2f2;
    height: 36px;
    min-width: 54px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
}

.button-container button:hover {
    border-width: 1px;
    border-color: #5F6368;
    color: #222;
}

/* Beginning of dark mode styles */
body.dark {
    --background-color: #333;
    --text-color: #FFFFFF;
    --high-emphasis-opacity: 0.87;
    --med-emphasis-opacity: 0.6;

    transition: var(--transition-delay);
    background-color: var(--background-color);
}

a.dark,
.footer-element.dark {
    transition: var(--transition-delay);
    color: var(--text-color);
    opacity: var(--high-emphasis-opacity);
}

footer.dark {
    transition: var(--transition-delay);
    background-color: #121212;
    opacity: var(--med-emphasis-opacity);
    border: none;
}

#theme-changer {
    transition: var(--transition-delay);
    /* transform: scale(1); */
}

.search-bar.dark {
    color: var(--text-color);
    opacity: var(--high-emphasis-opacity);
}

.button-element.dark{
    transition: (var(--transition-delay));
    color: var(--text-color);
    opacity: var(--high-emphasis-opacity);
    background-color: #5F6368;
}
